body,div,h1,h2,p,ol,ul,li {
    margin: 0;
    padding: 0;
    border: 0
}
 
@-webkit-viewport {
    width: device-width
}
 
@-moz-viewport {
    width: device-width
}
 
@-ms-viewport {
    width: device-width
}
 
@-o-viewport {
    width: device-width
}
 
@viewport {
    width: device-width
}
 
html,body {
    min-height: 100%
}
 
body {
    min-width: 290px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: #444;
    color: #666;
    font: 400 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif
}
 
h1 {
    font-size: 3em;
    line-height: 1;
    color: #222;
    margin-bottom: .5em;
    float: left;
    width: 100%
}
 
h2 {
    float: left;
    width: 100%;
    font-size: 1.5em;
    color: #222;
    margin: 1em 0 .5em
}
 
p {
    float: left;
    width: 100%;
    margin-bottom: 1em
}
 
p.intro {
    font-size: 1.25em;
    color: #555;
    font-weight: 700
}
 
a {
    color: #f4f4f4;
    text-decoration: none
}
 
a:active,a:hover {
    outline: 0
}
 
.main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    padding: 3em 4em;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    top: .8em;
    right: 0;
    bottom: 0;
    width: 76%;
    background: #fff
}
 
.main::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,.15);
    width: 8px;
    height: 8px
}
 
.main::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.4)
}
 

 
#toggle {
    display: none
/*
}